* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  font-size: 2em;
  color: seashell;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* to the bottom */
  background: #000;
}

.slider .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .imgBx {
  z-index: 10;
  clip-path: circle(100% at center);
  transition-delay: 0.7s;
  /* when the radio btn is checked, imgBx will be placed in the front */
}

.slider .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .imgBx .content {
  position: relative;
  text-align: center;
  max-width: 800px;

  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */

  padding: 40px;
}

.slider .imgBx .content h2 {
  font-size: 3em;
  line-height: 1em;
  color: #fff;
}

.slider .imgBx .content p {
  font-size: 1.5em;
  color: #fff;
  line-height: 1.5;
  margin-top: 40px;
}

.slider .imgBx .content a {
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 10px 30px;
  color: #111;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
}

.slider input[type="radio"] {
  position: relative;
  z-index: 1000;
  margin: 5px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}
